body {
    background: rgb(87, 63, 251);
    background: radial-gradient(circle, rgba(87, 63, 251, 1) 0%, rgba(70, 224, 252, 1) 100%);
    height: 100dvh;
}

textarea {
    background-color: transparent !important;
    border: none !important;
    font-size: 2rem !important;
}

button {
    width: 15rem;
}

button#encriptar {
    background-color: #0A3871;
    color: #fff;
}

button#desencriptar {
    background-color: #D8DFE8;
    color: #000;
    border: 1px solid #0A3871;
}

svg {
    fill: #000;
    width: 2rem;
    opacity: 0.5;
}

svg:hover {
    opacity: 1;
}