body {
    background: rgb(87, 63, 251);
    background: radial-gradient(circle, rgba(87, 63, 251, 1) 0%, rgba(70, 224, 252, 1) 100%);
    height: 100dvh;
    font-family: 'Kanit', sans-serif;
}

textarea {
    background-color: transparent !important;
    border: none !important;
    font-size: 2rem !important;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

button {
    width: 15rem;
    font-weight: 700;
}

button#encript {
    background-color: #0A3871;
    color: #fff;
}

button#encript:hover {
    background-color: #1360bd;
}

button#decript {
    background-color: #D8DFE8;
    color: #000;
    border: 1px solid #0A3871;
}

button#decript:hover {
    background-color: #aab0b7;
}

div#output-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button#copy-btn {
    width: 100%;
    margin-top: auto;
}

svg {
    fill: #000;
    width: 2rem;
    opacity: 0.5;
}

svg:hover {
    opacity: 1;
}

footer {
    font-weight: 700;
    width: 100%;
    height: 100px;
    background-color: #0a387170;
    margin-top: auto;
    bottom: 0;
}

@media (min-width: 350px) {
    main {
        width: 80%;
    }

    section {
        width: 80%;
    }

    p#output-text {
        margin-bottom: 1rem;
    }
}

@media (min-width: 750px) {
    main {
        width: 80%;
    }

    section {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    main {
        width: 70%;
        padding-right: 2rem;

    }

    section {
        width: 30%;
    }

}